body{
    font-family: 'Poppins', serif;
    background-image: url(/images/concrete_seamless.png);
    background-color:  #f1f1f1;
}
#logo{
    animation: expand 5s ease forwards;
    width: 25px;
}
@keyframes expand {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.nav_item a, a:focus{
    color: blue;
}
.pricing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex: 1;
}
.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    border: 10px solid  #50C7C7;
    margin: 10px;
    width: 300px;
}

@media screen and (min-width: 900px){
    body > header{
        position: fixed;
        width: 100%;
        top:0;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    main{
        padding: 90px;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .pricing{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .card{
        flex: 0 0 275px;
    }
}
@media (prefers-reduced-motion: reduce) {
    .logo {
      animation: none;
      width: 475px;
    }
}

@media print {
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: none;
    }
    .gallery, #gallery {
      display: none;
    }
    .pricing {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 325px;
    }
    .card {
        flex:1;
        margin-bottom: 300px;
    }
    header .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 130px;
    }
    .card li:nth-child(2)::after {
        content: "\1F44D";
        font-size: 16pt;
        margin-right: 5px;
    }
}